<div class="card mb-3" ng-repeat="section in content.menu.showSections">
    <div class="row no-gutters" ng-click="redirect(section)">
        <div class="col-md-4">
            <img ng-src="{{content.menu[section].image}}" class="card-img" style="height:179px;width:183px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title display-4" ng-bind="translation[content.menu[section].title]"></h5>
                <p class="card-text" ng-bind="translation[content.menu[section].text]"></p>
            </div>
        </div>
    </div>
</div>
